.Feed {
  flex: 0.8;
  border-right: 1px solid rgb(105, 104, 104);
  width: 80%;
  height: 100%;
  overflow-y: auto; 
}

.Feed::-webkit-scrollbar {
  display: none;
}

.FeedHeader {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1001;
  padding: 10px 5px;
  height: 25vh;
}

.FeedPosts {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .FeedHeader {
    width: 100%; /* Full width on smaller screens */
  }
  
  .FeedPosts {
    margin-top: 0.2rem; /* Adjusted margin for smaller screens */
  }
}
