.tweetBox {
  padding: 8px;
  width: 100%;
  z-index: 1000;
  margin-top: 1rem;
  border-bottom: 1px solid #1a91da;
  height: 8rem; /* Adjust height as needed */
}

.InputTwitter {
  background-color: black;
  color: white;
  font-size: x-large; /* Reduced font size */
  width: 100%; /* Full width on smaller screens */
  outline: none;
  padding: 8px; /* Adjust padding as needed */
  position: relative;

  bottom: 8rem;
  left: 10rem;
}

.tweetBox__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tweetBox__input input {
  flex: 1;
  padding: 5px; /* Reduced padding */
  font-size: 14px; /* Reduced font size */
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem; /* Adjust margin to control spacing */
}

.tweetBox__imageInput {
  margin: 5px 0; /* Reduced margin */
  font-size: 1.8rem; /* Reduced font size */
  color: #1a91da;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 7.5rem;
  left: 5rem;
}

.tweetBox__tweetButton {
  background-color: #1da1f2;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px; /* Reduced padding */
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0.5rem; /* Adjust margin as needed */
  margin-right: 2rem;
  position: relative;
  bottom: 10rem;
  float: right;
}

.tweetBox__tweetButton:hover {
  background-color: #1a91da;
}

@media (max-width: 768px) {
  .tweetBox__input {
    position: relative;
    top: 1rem;
    flex-direction: column; /* Stack input fields vertically on smaller screens */
    align-items: stretch; /* Stretch items to full width */
  }
  .tweetBox__imageInput{
    font-size: 1.5rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
  }
  .tweetBox__tweetButton {
    width: 75%; /* Full width button on smaller screens */
   margin-top: 2rem;
  }
}
