.profile{
    flex: 1;
    width: 90vh;
    border-right: 5px solid rgb(15, 15, 15);
    height: 100vh;
    min-width: fit-content;
    overflow-y: auto;
   }

.profile::-webkit-scrollbar{
display: none;
}

   